html {
	background: #E6E6FA;
}

body {
	background: #FFFAFA;
	margin: auto;
	padding: 0;
	width: 90%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 10px #000000;
	-webkit-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000;
}

.clear {
	clear: both;
}

.right {
	text-align: right;
}

#header {
	margin-top: 10px;
	padding-top: 5px;
	height: 75px;
	border-bottom: 1px solid #000;
}

#footer {
	padding: 10px;
	height: 50px;
	margin-bottom: 10px;
	border-top: 1px solid #000;
}

#header h1 {
	padding: 0;
	text-align: center;
}

#left, #right {
	min-height: 375px;
	padding: 0 10px;
	width: 210px;
}

#left {
	border-right: 1px solid #000;
	float: left;
}

#right {
	border-left: 1px solid #000;
	float: right;
	text-align:center;
}

#right span {
	font-size: 20px;
}

#center {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	margin: 0 230px;
	padding: 10px;
}

#center h1 {
	margin: 0px;
	text-align: center;
}

#center h2 {
	margin: 0px;
	text-align: center;
}

hr {
	margin: 0px;
}

.banner {
	border: 1px solid #000;
	margin: 10px auto 0;
	width: 200px;
}

#footer p {
	text-align: center;
}

#pagination p {
	font-size: 110%;
	margin: 0;
	text-align: center;
}

#pagination a {
	display: inline-block;
	padding: 3px;
}

#reg table {
	margin: 0 auto;
}

.message {
	color: #f00;
	text-align: center;
}

#message p {
	text-align: center;
}

div.addon {
	display: none;
	text-align: center;
	padding: 5px;
}

span.note {
	color: #6495ED;
}

.symbols {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.symbols table {
	border: 1px solid #000000;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.symbols td {
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #000000;
	border-width: 0px 1px 1px 0px;
	text-align: center;
	padding: 5px;
	font-size: 12px;
	font-family: Verdana;
	font-weight: normal;
	color: #000000;
}

.symbols tr:last-child td {
	border-width: 0px 1px 0px 0px;
}

.symbols tr td:last-child {
	border-width: 0px 0px 1px 0px;
}

.symbols tr:last-child td:last-child {
	border-width: 0px 0px 0px 0px;
}

.symbols tr:first-child td {
	background: -o-linear-gradient(bottom, #b2b2b2 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b2b2b2), color-stop(1, #ffffff) );
	background: -moz-linear-gradient( center top, #b2b2b2 5%, #ffffff 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b2b2b2", endColorstr="#ffffff");	background: -o-linear-gradient(top,#b2b2b2,ffffff);
	background-color: #b2b2b2;
	border: 0px solid #000000;
	text-align: center;
	border-width: 0px 0px 1px 1px;
	font-size: 14px;
	font-family: Verdana;
	font-weight: bold;
	color: #000000;
}

.symbols tr:first-child td:first-child {
	border-width: 0px 0px 1px 0px;
}

.symbols tr:first-child td:last-child {
	border-width: 0px 0px 1px 1px;
}