html {
        background: #E6E6FA;
}

body {
	background: #FFFAFA;
	margin: auto;
	padding: 0;
	width: 90%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 10px #000000;
	-webkit-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000;
}

.clear {
	clear: both;
}

.right {
	text-align: right;
}

#header {
	margin-top: 10px;
	padding-top: 5px;
	height: 75px;
	border-bottom: 1px solid #000;
}

#footer {
	padding: 10px;
	height: 50px;
	margin-bottom: 10px;
	border-top: 1px solid #000;
}

#header h1 {
	padding: 0;
	text-align: center;
}

#left, #right {
	min-height: 375px;
	padding: 0 10px;
	width: 210px;
}

#left {
	border-right: 1px solid #000;
	float: left;
}

#right {
	border-left: 1px solid #000;
	float: right;
	text-align:center;
}

#right span {
	font-size: 20px;
}

#center {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	margin: 0 230px;
	padding: 10px;
}

#center h1 {
	margin: 0px;
	text-align: center;
}

#center h2 {
	margin: 0px;
	text-align: center;
}

hr {
	margin: 0px;
}

.banner {
	border: 1px solid #000;
	margin: 10px auto 0;
	width: 200px;
}

#footer p {
	text-align: center;
}

#pagination p {
	font-size: 110%;
	margin: 0;
	text-align: center;
}

#pagination a {
	display: inline-block;
	padding: 3px;
}

#reg table {
	margin: 0 auto;
}

.message {
	color: #f00;
	text-align: center;
}

#message p {
	text-align: center;
}